
.forgetpassword{


  border: 3px #A52A2A solid;
  border-radius: 10%;
  
  position: absolute;
    top: 100px;
    left: 250px;
  
  height: 450px;
  width: 400px;
  
  }
  .titre_forgetpassword{
  
    color:black;
    font-style: italic;
    position: absolute; 
    top: 10px;
      left:90px;
      text-shadow: 0 0 0.1em #00FF00;
      font-size: 35px;
  }
  .titre_forgetpassword2{
  
    color:black;
    text-align: center;
    font-style: italic;
    position: absolute; 
    top: 110px;
      left:20px;
      font-size: 20px;
  }
  
  .email_forgetpassword{
       
      font-weight: bold;
      font-size: 18px;
    color: black;
    border-bottom: 1px black solid;
  
     position: absolute;
    top: 210px;
    left: 40px;
  }
  input[type="email"]:focus{
    outline:none;
  }
  input[type="password"]:focus{
    outline:none;
  }
  input[type="number"]:focus{
    outline:none;
  }
  .input_forgetpassword{
    height: 25px;
     width:250px;
    border:none;
    background-color: transparent;
    font-size: 18px;  
     
  }
  
  .input_forgetpassword2{
    height: 25px;
     width:200px;
    border:none;
    background-color: transparent;
    font-size: 18px;  
     
  }
  .password_confirmation_reset{
    
     font-weight: bold;
    font-size: 18px;
    color: black;
    border-bottom: 1px black solid;
  
     position: absolute;
    top: 270px;
    left: 40px;
    
  }
  
  
  
  
  .button_forgetpassword{   
    
    font-weight: bold;
    font-size: 15px;
     position: absolute;
    top: 320px;
    left: 125px;	
    height: 45px;
     width:145px;
     cursor: pointer;
     border-radius: 8px;
     border: 1px black solid;
  }
  .erreur_mail{
    
    font-weight: bold;
    font-size: 20px;
     position: absolute;
    top: 400px;
    left: 125px;	
    color:red;
  }
  .erreur_code{
    
    width:1400px;
    font-weight: bold;
    font-size: 20px;
     position: absolute;
    top: 400px;
    left: 55px;	
    color:red;
  }
  