

header{
	
	position: fixed;
top: 0;
left: 0;
bottom: 500px;
right: 0;
overflow: auto;      
	background-color:#eb1a00;
	
}


.title{
	
	color:beige; 
	font-family: cursive;
	position: fixed; 
	right: 70px;
    top: 20px;
    font-size: 70px;
    text-shadow: 0 0 10px beige;
}

.info_user{
	 
     font-size: 18px;
     padding-left:10px;
     margin-bottom: 0px;
     line-height: 0.8em;
  color:#151111;
    font-style: italic;
}



.img_edit_profilHeader{

	height: 50px;
	width: 50px;
  
	position: absolute; 
	right: 880px;
    bottom: 25px;
	
	border-radius: 70%;
	cursor: pointer;
}


.edit_profilEcommercant{

    font-style: italic;
    text-decoration: none;
      position: absolute; 
      right: 700px;
        bottom: 40px;
      font-size: 20px;
      cursor: pointer;
      font-weight: bold;
      color:black;
      cursor: pointer;
 
}

.img_deconnexionHeader{

  
  height: 50px;
	width: 50px;
  border-radius: 70%;
    position: absolute; 
    right: 550px;
      bottom: 25px;
   color:#151111;
    cursor: pointer;
  }
  .deconnexonHeader{
	
	font-weight: bold;
    font-style: italic;
    text-decoration: none;
      position: absolute; 
      right: 420px;
        bottom: 40px;
      font-size: 20px;
      cursor: pointer;
      color:#151111;
    }
    

.edit_profilEcommercant:hover{

	text-decoration: underline;
  color: beige;
}

.deconnexonHeader:hover{

	text-decoration: underline;
	 color: beige;
}   



nav {

 position: fixed; 
	right: 650px;
    bottom: 520px;
  width:225px;
 font-size: 20px;   
 font-style: italic;
   
}

nav > ul {
  display: flex;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;

  height: 25px;
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: #eb1a00;
  position: relative;
  height: 100%;
  flex: 1;
 
  font-size: 20px;
  
  font-weight: bold;
}


li a {
  text-decoration: none;
  color: black;
}


.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
 
  margin-top:2px;
  width: 260px;
  height:100px;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}


.sous-menu > li > a {
  height: 30px;
  padding-right: 0px;
  width: 100%;
  align-items: left;
  display: flex;
  
  
 
}

nav > ul > li:hover > a{
  color: beige;
  
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: beige;
  
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 2s forwards;
}


.modification_nom{
	
font-weight: bold;
    font-size: 18px;
	color: black;
	
	height:60px;

   position: absolute;
	top: 190px;
	left: 40px;

}

.modification_mot_de_passe{
	
	font-weight: bold;
    font-size: 18px;
	color: black;
	
	height:60px;

   position: absolute;
	top: 300px;
	left: 40px;
	
	
}


.modification_email{
	
	
	font-weight: bold;
    font-size: 18px;
	color: black;
	
	height:60px;

   position: absolute;
	top: 380px;
	left: 40px;
}


.code{
	
	
	font-weight: bold;
    font-size: 18px;
	color: black;
	
	height:60px;

   position: absolute;
	top: 490px;
	left: 40px;
}


.request_to_pay_mtn{
	
	font-weight: bold;
    font-size: 18px;
	color: black;
	
	height:60px;

   position: absolute;
	top: 550px;
	left: 40px;
	
	
}

.exposition{
	
	
	font-weight: bold;
    font-size: 18px;
	color: black;
	
	height:60px;

   position: absolute;
	top: 700px;
	left: 40px;
	
}